<!DOCTYPE html>
<html>
<head>
<title>Twitter Sentiment Analysis</title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/socket.io.js"></script>
<script src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
<script>
    const socket = io.connect('http://localhost:4200');
    socket.on('connect', ()=>{
        console.log('Socket connected');
        socket.on('tweet', (data) =>{
            document.getElementById('tweets').innerHTML = document.getElementById('tweets').innerHTML + '<br/>' + data;
        });
    });
</script>
</head>
<body>
<h2>Twitter Streaming API</h2>
<script>
</script>
<div id="tweets"></div>
</body>
</html>
